@model IEnumerable<ST10283090_.Models.Claims>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Lecturer"))
    {
        <a asp-action="Create">Make a New Claim</a>
    }
</p>
      
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th>      
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ClaimsPeriodStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ClaimsPeriodEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().HoursWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RatePerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DescriptionofWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Length)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @item.ClaimsPeriodStart.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @item.ClaimsPeriodEnd.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursWorked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatePerHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionofWork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @if (User.IsInRole("Lecturer"))
                    {
                        //<a asp-action="Edit" asp-route-id="@item.ClaimID">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ClaimID">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ClaimID">Delete</a>
                    }
                    else @if (User.IsInRole("Academic Manager") || User.IsInRole("Programme Coordinator"))
                    {
                        <form asp-action="Approve" asp-route-id="@item.ClaimID" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                        <form asp-action="Reject" asp-route-id="@item.ClaimID" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                        <a asp-action="Delete" asp-route-id="@item.ClaimID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>





